.container{
    height: 500px;
    color: white;
    display: grid;
    padding: 10px;
    background-color: gray;
   
    grid-template-areas: "a1 a1 a1 a2 a2 a2"
                         "a3 a3 a3 a4 a4 a6"
                         "a5 a5 a5 a5 a5 a5";
}
    /*  
        Aqui com grid-template-areas conseguimos reposicionar os elementos apenas usando os seletores.
        Temos que tomar certos cuidados, pois o não uso de um dos seletores pode "quebrar a tela" deixa um dos elementos soltos ou fora do padrão da página
        Da maneira que os seletores estão distribuidos em grid-template-areas temos o formato de 6 espços de linha por 3 espaços de coluna, sendo uma divisão de linhaXcoluna.
    */
.r1{
    background-color: red;
}
.r2{
    background-color: blue;
}
.r3{
    background-color: green;
}
/* Para grid-area, por mais que o nome do seletor pareça uma string (de fato é), não vamos usar aspas*/
.item1{
    grid-area: a1;
}
.item2{
    grid-area: a2;
}
.item3{
    grid-area: a3;
}
.item4{
    grid-area: a4;
}
.item5{
    grid-area: a5;
}
.item6{
    grid-area: a6;
}
