.container{
    height: 500px;
    color: white;
    display: grid;
    padding: 10px;
    background-color: gray;
   
    grid-template: auto auto / auto auto auto;
    justify-items: center;
    /* 
        Diferente de FlexBox justify-items funciona melhor em Grid.
        Agora justify-items realiza as mudaças na horizontal e align-items realiza na vertival.
    */
    align-items: center;
    grid-gap: 10px;
}
.r1{
    background-color: red;
}
.r2{
    background-color: blue;
}
.r3{
    background-color: green;
}
.rect{
    width: 100px;
    height: 100px;
}