@charset "UTF-8";
*{margin: 0; padding: 0;font-family: Arial, Helvetica, sans-serif;}
:root{
    --corfont1: #111;
    --corfont2: #555;
    --corfont3: #fff;

    --corlink: #fd8a24;

    --corheadfooter: #333;
}
body{
    width: 100vw;
    height: 100vh;
    color:var(--corfont1);
}
header > h1{
    text-align: center;
    background-color: var(--corheadfooter);
    color: var(--corfont3);
    padding: 10px;
}
.faixa-branca{
    background-color: var(--corlink);
    height: 10px;
}
#subtitulo{
    width: 750px;
    margin: auto;
    font-size: 1.8em;
}
header > section > p{
    color: var(--corfont2);
}